@font-face {
    font-family: 'MartianMono';
    src: url('../fonts/MartianMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RubikMonoOne';
    src: url('../fonts/RubikMonoOne-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth,wght.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}