:root{
    --gradient-up: #161d54;
    --gradient-down: #460178;
    --purple: #8c5cf1;
    --dark-purple: #dfd7fd;
    --very-dark-purple: #c6b7fb;
    --background-color: #f3f0ff;
    --light-gray: #7e7e7e;
    --selection-color: #5c75f1;
    --blue: #caecf9;

    --font-title: 'RubikMonoOne', sans-serif;
    --font-base: 'MartianMono', sans-serif;
    --font-main: 'Roboto', sans-serif;
}